body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}
nav div:nth-child(2) {
  display: flex;
  gap: 2rem;
  padding-right: 2rem;
}
nav div:nth-child(2) img {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 3rem;
}
header .card {
  display: flex;
  background-color: #E3F2FA;
  border-radius: 12px;
  justify-content: space-between;
  font-size: 2em;
  padding: 5rem;
}
header .card > h3 {
  color: gold;
}
header .card .card-desc h1 > p {
  margin: 0;
}
header .card-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
header .card-container .card {
  border-radius: 12px;
  font-size: 1.5em;
}
header .card-container .card .card-desc > * {
  margin: 0;
}
header .card-container .card .card-desc h4 > p {
  margin: 0;
}
header .card-container .card:first-child {
  background-color: #E9F8E2;
}
header .card-container .card:nth-child(2) {
  background-color: #FBE9E6;
}
header .card-container img {
  height: 12rem;
  width: 12rem;
}

#category {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
#category .card-container {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  height: 10rem;
  padding-bottom: 5rem;
  padding-top: 5rem;
}
#category .card-container .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  border: solid grey 0px;
  box-shadow: 0 0 10px grey;
  cursor: pointer;
}
#category .card-container .card img {
  height: 2.5rem;
}
#category .extra {
  display: flex;
  justify-content: space-evenly;
}
#category .extra .card {
  background-color: #E3F2FA;
  border-radius: 10px;
  width: 40%;
  font-size: 1.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  background-image: url(../img/ad-image-4.png);
  background-repeat: no-repeat;
  background-position: right;
}
#category .extra .card > * {
  margin: 0;
  padding: 0.5em;
}
#category .extra .card h4 {
  color: gold;
}
#category .extra .card button {
  width: 20%;
  border: none;
  background-color: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
#category .extra .first {
  background-color: #FBE9E6;
  background-image: url(../img/ad-image-3.png);
}

#bestSellingProducts h2 {
  margin: 0;
}
#bestSellingProducts .card-container {
  display: flex;
  justify-content: space-around;
  font-size: 1.2em;
}
#bestSellingProducts .card-container .card div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
#bestSellingProducts .card-container .card div span {
  background-color: #93CB42;
  color: white;
  width: 3rem;
  border-radius: 8px;
  text-align: center;
}
#bestSellingProducts .card-container .card div .circle {
  border: solid;
  border-radius: 100px;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
#bestSellingProducts .card-container .card div .circle > svg {
  transition: 0.2s;
}
#bestSellingProducts .card-container .card * {
  margin: 0.5rem;
}
#bestSellingProducts .card-container .card .price {
  display: flex;
  justify-content: space-between;
}
#bestSellingProducts .card-container .card .price div {
  display: flex;
}

#moreInfo .card-container {
  display: flex;
  justify-content: space-around;
}
#moreInfo .card-container .card {
  width: 15%;
}

footer {
  display: flex;
  justify-content: space-between;
  color: grey;
  padding: 1rem;
}

.dark-mode {
  background-color: black;
  color: white;
}

.nodark {
  color: black;
}

.red-select {
  background-color: red;
}
.red-select > svg {
  background-color: red;
}

/*# sourceMappingURL=app.css.map */
