header 
    display: flex 
    justify-content: center
   
    .card 
        display: flex 
        background-color: #E3F2FA
        .card-desc 
            h1 > p 
                margin: 0
    .card-container 
        .card 
            .card-desc 
                h4> p 
                    margin: 0 
        .card:first-child
            background-color: #E9F8E2
        .card:nth-child(2)
            background-color: #FBE9E6