#category
    padding-top: 5rem
    padding-bottom: 5rem
    .card-container  
        display: flex 
        justify-content: space-around 
        gap: 2rem
        height: 10rem
        padding-bottom: 5rem
        padding-top: 5rem
        .card   
            display: flex 
            flex-direction: column
            justify-content: center
            align-items: center // find a way to center those images. 
            width: 20rem
            border: solid grey 0px
            box-shadow: 0 0 10px grey
            cursor: pointer
            img 
                height: 2.5rem
    .extra  
        display: flex 
        justify-content: space-evenly 
        .card 
            background-color: #E3F2FA
            border-radius: 10px
            width: 40%
            font-size: 2em
            display: flex 
            flex-direction: column
            justify-content: center
            padding: 2em
            > * 
                margin: 0
                padding: 0.5em
            h4 
                color: gold
            button 
                width: 20%  

        .first 
            background-color: #FBE9E6 

    


