#bestSellingProducts
    .card-container
        display: flex
        justify-content: space-evenly 
        .card 
            .price
                display: flex
                justify-content: space-between
                div 
                    display: flex